[Desktop Entry]
Name=ETA Greeter
Name[pt]=Saudador ETA
Name[tr]=ETA Karşılayıcı
GenericName=Greeter App
GenericName[pt]=Aplicação de saudação
GenericName[tr]=Karşılayıcı Uygulaması
Comment=This tool helps you to get ETAP ready.
Comment[pt]=Esta ferramenta ajuda-o a preparar o ETAP.
Comment[tr]=Bu araç ETAP'ı hazırlamanıza yardımcı olacaktır.
Exec=eta-cinnamon-greeter
Icon=eta-cinnamon-greeter
Terminal=false
Type=Application
Categories=System;X-Pardus-Apps;
StartupNotify=true
Keywords=welcome;greeter;setup;configuration;settings
Keywords[pt]=bem-vindo;saudador;instalação;configuração;definições
Keywords[tr]=hoşgeldin;karşılayıcı;kurulum;konfigürasyon;ayarlar
