.pardus-software-listbox{
    background-color:transparent;
}

.pardus-software-frame > border{
    border-radius: 8px;
}

.pardus-software-notebook.view,
.pardus-software-notebook.frame,
.pardus-software-notebook > *,
.pardus-software-notebook > header *{
    border-radius: 8px 8px 0 0;
}

.pardus-software-listbox{
    border-radius:8px;
}

.pardus-software-listbox row:hover, row:selected{
    border-radius:8px;
}

.pardus-software-flowbox flowboxchild{
    border-radius:8px;
}

.pardus-software-listbox{
    margin:0px;
    padding:0px;
}

.pardus-software-frame row{
    margin:0px;
}

/* iconview */

iconview.view {
    border-radius: 8px;
    background-color: transparent;
}

iconview.view:selected {
    border-radius: 8px;
    background-color: @theme_selected_bg_color;
}

iconview.view:selected:focus {
    border-radius: 8px;
    background-color: @theme_selected_bg_color;
}

iconview.view:backdrop {
    border-radius: 8px;
    background-color: transparent;
}

iconview.view:selected:backdrop {
    border-radius: 8px;
    background-color: @theme_unfocused_selected_bg_color;
}

iconview.view:selected:backdrop:hover {
    border-radius: 8px;
    background-color: @theme_unfocused_selected_bg_color;
}

.view > iconview {
    border-radius: 8px;
    background-color: transparent;
}

.view > iconview:hover {
    background-color: alpha(@unfocused_borders, 0.5);
}

.view > iconview:hover:selected {
    border-radius: 8px;
    background-color: @theme_selected_bg_color;
}

.view > iconview:backdrop {
    border-radius: 8px;
    background-color: transparent;
    color: @theme_unfocused_fg_color;
}

.view > iconview:backdrop:hover {
    background-color: alpha(@unfocused_borders, 0.3);
}

scale highlight {
   color:transparent;
   background-color:transparent;
   border-style:none;
   background-image:none;
}

scale trough {
    padding-top: 7px;
    padding-bottom: 7px;
    background-image: linear-gradient(to right, mix(shade (white, 0.96), #FFDFBB, 0.5), #F06A1D);
}

.low-label{
    background-color: #FFF4E5;
    border-radius: 8px;
}

.medium-label{
    background-color: #FFD1A3;
    border-radius: 8px;
}

.high-label{
    background-color: #FF9F46;
    border-radius: 8px;
}
